@import fr.watchnext.store.utils.payment.systempay._
@(currentForm : SingleImmediatePF)
@import tags._


@head = {
}

@footer = {

}

@end_scripts = {

}

@layouts.base(head, footer, "test", end_scripts) {
	Test
	
	<form method="POST" action="https://paiement.systempay.fr/vads-payment/">
		@for(parameter <- currentForm.getParameters) {
		<input type="hidden" name="@parameter.getParameterName" value="@parameter.getValue" />
		}
		<input type="hidden" name="signature" value="@currentForm.getSignature"/>
		<input type="submit" name="payer" value="Payer"/>
	</form>
}