@(thisInstance: Form[models.Brand], isItNew: Boolean)

@import _root_.fr.watchnext.utils.views.FormDisplay

@layouts.admin("brand_form") {
	@defining(new FormDisplay(thisInstance, "Brand", "admin.brand.form")) { formDisplay =>
		@{ 
		   
		   formDisplay.addFormField("internalName", true, "input");
		   formDisplay.addFormField("displayName", true, "input");
		   formDisplay.addFormField("description", true, "textarea");
		   formDisplay.addFormField("remarks", true, "textarea");
		   formDisplay.addFormField("seoName", true, "input");
		   formDisplay.addFormField("logoUrl", true, "input");
		   formDisplay.addFormField("alt", true, "input");
		   formDisplay.addFormField("active", true, "checkbox")
		}
	
	@fr.watchnext.utils.templates.form_with_default_links(formDisplay, isItNew)
	}

}
