@import tags._
@import fr.watchnext.utils.tags._
@(is_home:Boolean = false, forms_enhancer_active:Boolean = true)
<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
@absolute_script("https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js") { }
@local_script("javascripts/bootstrap/bootstrap.min.js") { }

<!-- include jqueryCycle plugin -->
@local_script("javascripts/jquery.cycle2.min.js") { }

<!-- include easing plugin -->
@local_script("javascripts/jquery.easing.1.3.js") { }

<!-- include  parallax plugin -->
@local_script("javascripts/jquery.parallax-1.1.js") { }

<!-- optionally include helper plugins -->
@local_script("javascripts/helper-plugins/jquery.mousewheel.min.js") { }

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->
@local_script("javascripts/jquery.mCustomScrollbar.js") { }

<!-- include grid.js // for equal Div height  -->
@local_script("javascripts/grids.js") { }

<!-- include carousel slider plugin  -->
@local_script("javascripts/owl.carousel.min.js") { }

@if(forms_enhancer_active) {
<!-- include icheck plugin // customized checkboxes and radio buttons   -->
@local_script("plugins/icheck-1.x/icheck.min.js") { }

<!-- jQuery select2 // custom select   -->
@absolute_script("http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js") { }
}

<!-- include touchspin.js // touch friendly input spinner component   -->
@local_script("javascripts/bootstrap.touchspin.js") { }
@if(is_home) {
<!-- include custom script for only homepage  -->
@local_script("javascripts/home.js") { }
}
<!-- include custom script for site  -->
@local_script("javascripts/script.js") { }
