@import tags._
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> Nous contacter </h3>
                    <ul>
                        <li class="supportLi">
                            <p>Une question ? Contactez nous par téléphone</p>
                            <h4><a class="inline" href="callto:07 82 43 47 51"> <strong> <i class="fa fa-phone"> </i> 07 82 43 47 51</strong> </a></h4>
                            <p class="phone-call-infos">coût d'un appel vers un mobile en france, du lundi au samedi de 8h à 21h</p>
                            <h4><a class="inline" href="mailto:contact@@watchnext.fr"> <i class="fa fa-envelope-o"> </i> contact@@watchnext.fr</a></h4>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Accès direct </h3>
                    <ul>
                        <li><a href="#">
                            Nouvelles montres
                        </a></li>
                        <li><a href="#">
                            Toutes nos montres</a></li>
                        <li><a href="#">
                            Bonnes affaires
                        </a></li>
                        <li><a href="#">
                            Vendre sa montre
                        </a></li>

                    </ul>

                </div>

                <div style="clear:both" class="hide visible-xs"></div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> A propos </h3>
                    <ul>
                        <li><a href="#">Qui sommes nous&nbsp;?
                        </a></li>

                        <li><a href="#"> Mentions légales
                        </a></li>
                        <li><a href="#"> Plan du site
                        </a></li>
                        <li><a href="#"> Conditions générales de vente </a></li>
                        <li><a href="#">
                            Plan du site
                        </a></li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Plus d'infos </h3>
                    <ul>
                        <li><a href="account.html"> Avis client </a></li>
                        <li><a href="my-address.html"> FAQ </a></li>
                        <li><a href="http://www.hometime.fr/"> Entretien/révision </a></li>
                    </ul>
                </div>

                <div style="clear:both" class="hide visible-xs"></div>

                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Restez informé </h3>
                    <ul>
                        <li>
                            <div class="input-append newsLatterBox text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> S'abonner <i
                                        class="fa fa-long-arrow-right"> </i></button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li><a href="http://facebook.com"> <i class=" fa fa-facebook"> &nbsp; </i> </a></li>
                        <li><a href="http://linkedin.com"> <i class="fa fa-linkedin"> &nbsp; </i> </a></li>
                        <li><a href="http://twitter.com"> <i class="fa fa-twitter"> &nbsp; </i> </a></li>
                        <li><a href="https://plus.google.com"> <i class="fa fa-google-plus"> &nbsp; </i> </a></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> &copy; Watchnext SAS 2016. Tout droit réservé. </p>

            <div class="pull-right paymentMethodImg"><img height="30" class="pull-right"
                                                          src="assets/images/site/payment/master_card.png" alt="img"> <img
                    height="30" class="pull-right" src="assets/images/site/payment/visa_card.png" alt="img"><img height="30"
                                                                                                          class="pull-right"
                                                                                                          src="assets/images/site/payment/paypal.png"
                                                                                                          alt="img">
                <img height="30" class="pull-right" src="assets/images/site/payment/american_express_card.png" alt="img"> <img

            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>