@(key: String, id: String = "", before_content: Html = Html(""), end_scripts_bottom: Html = Html(""), in_head_content: Html = Html(""))(content: Html)

@import tags._

@head = {
    	@layouts.fragments.head_min(key)
        @layouts.fragments.bootstrap_css()
        @layouts.fragments.pace()

	    @local_stylesheet("stylesheets/admin.css")

        @in_head_content
}

@footer = {

}

@end_scripts = {
    @layouts.fragments.end_scripts(false, false)
    @end_scripts_bottom
}

@layouts.base(head, footer, id, end_scripts) {
	@before_content

	@layouts.fragments.admin_navbar()

    @content
}
